/* Home.module.css */
.container {
    margin: 0 auto;
    max-width: max-content;
}

.header {
    font-size: 2rem;
    color: #333;
}

.main {
    font-size: 1rem;
    color: #666;
}

.footer {
    font-size: 0.8rem;
    color: #999;
}

.welcome {
    text-align: center;
}

.videoContainer {
    display: flex;
    justify-content: center;
    /* Center the content */
    flex-wrap: wrap;
    /* Allow wrapping */
}

.videoColumn {
    flex: 1;
    /* Each column will take up equal space */
    max-width: fit-content;
    /* Adjust for padding/margins */
    box-sizing: border-box;
}

.video {
    width: 100%;
    height: auto;
    /* Maintains aspect ratio */
}