/* Home.module.css */
.container {
    margin: 0 auto;
    max-width: max-content;
}

.header {
    font-size: 2rem;
    color: #333;
}

.main {
    font-size: 1rem;
    color: #666;
}

.footer {
    font-size: 0.8rem;
    color: #999;
}

.welcome {
    text-align: center;
}

.videoContainer {
    display: flex;
    justify-content: center;
    /* Center the content */
    flex-wrap: wrap;
    /* Allow wrapping */
}

.videoColumn {
    flex: 1;
    /* Each column will take up equal space */
    max-width: fit-content;
    /* Adjust for padding/margins */
    box-sizing: border-box;
}

.video {
    width: 100%;
    height: auto;
    /* Maintains aspect ratio */
}

/* Home.module.css */

.trustedBy {
    display: flex;
    align-items: center;
}

.textContainer {
    flex-shrink: 0;
    margin-right: 20px;
    /* Space between text and icons */
}

.carouselContainer {
    position: relative;
    overflow: hidden;
    /* Hide overflowing content */
    flex-grow: 1;
    /* Take up remaining space */
}

.customerIcons {
    display: flex;
    position: relative;
    /* Allows for better control of child element positioning */
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    /* Set desired width */
    height: 100px;
    /* Set desired height */
    animation: moveIcon 20s linear infinite;
    /* Adjust duration as needed */
}

.customerIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Home.module.css */

.footer {
    background-color: #ddb43b;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 1000;
    position: relative;
}

.TextContainer {
    display: flex;
    flex-direction: row;
}

.verticalText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #721a03;
    margin-right: 10px; /* Add some space between the two texts */
    padding-right: 5%;
}

.verticalText2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #ffffff; /* Set color to white */
    margin-right: 10px; /* Add some space between the two texts */
}

.diagonalText {
    position: absolute;
    bottom: 22%; /*Adjust this value as needed*/
    right: 2%; /*Adjust this value as needed */
    transform: rotate(-45deg);
    color: #000000;
    white-space: pre-wrap; /*Preserve whitespace and line breaks*/
    line-height: 1.0; /*Adjust the line height as needed*/
    font-size: 30px;
}

.bodyText {
    font-size: 15px; 
    margin-top: 10px; 
}

.imageContainer img {
    position: absolute;
    bottom: 50%; /*Adjust this value as needed*/
    right: 45%; /*Adjust this value as needed */
    white-space: pre-wrap; /*Preserve whitespace and line breaks*/
    line-height: 1.0; /*Adjust the line height as needed*/
    max-width: 100%;
    max-height: 100%;
}

@keyframes moveIcon {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-200%);
    }
}
